
  <div class="col-md-12 dashboard"> 
      <div class="dashboard-widget">
        <vertical-split-pane primary-component-initialratio="0.8">
          <div class="split-pane-content-primary">     
            <div class="alert-success">{{statusMessage}}</div>
            <hr>
            <input type="button" value="Add New Projekt" class="btn btn-default m-0" (click)="addProject()" />
            <div class="project-list">
              <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <td>Id</td>
                    <td>Title</td>
                    <td>Color</td>                    
                    <td class="text-center" width="15%">Action</td>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let project of projects;let i=idx">
                    <ng-template [ngTemplateOutlet]="loadTemplate(project)" [ngOutletContext]="{ $implicit: project, idx: i }"></ng-template>
                  </tr>
                </tbody>
              </table>
              <textarea class="col-md-12 form-control">{{selectedProject ? selectedProject.Text:''}}</textarea>
            </div>            
          </div>
          <div class="split-pane-content-secondary"  [sortablejs]="projects"  [sortablejsOptions]="{ animation: 1000 }">            
            <div class="col-md-12 project-list"                                  
                 *ngFor="let project of projects"
                 [ngStyle]="{'background-color':selectedProject && selectedProject.Id==project.Id?project.Color:'lightgray','color':selectedProject && selectedProject.Id==project.Id?'#fff':'#000'}">
              <div class="row"
                   (click)="selectProject(project)">
                <div class="col-md-2 sno" [ngStyle]="{'border-color':project.Color}"
                     >#{{project.Id}}</div>
                <div class="col-md-8 text"><b>{{project.Title}}:</b><br />{{project.Text}}</div>
                <div class="col-md-1 sort"><i class="fa fa-ellipsis-v"></i></div>
              </div>
            </div>
          
          </div>
        </vertical-split-pane>
      </div>
  </div>


              <!--The Html Template for Read-Only Rows-->
            <ng-template #readOnlyTemplate let-project>
              <td>{{project.Id}}</td>
              <td>{{project.Title}}</td>
              <td>{{project.Color}}</td>
              <td class="text-center">
                <input type="button" value="Edit" class="btn btn-default" (click)="editProject(project)" />
                <input type="button" value="Delete" (click)="deleteProject(project)" class="btn btn-danger" />
              </td>
            </ng-template>
            <!--Ends Here-->
            <!--The Html Template for Editable Rows-->
            <ng-template #editTemplate>
              <td>
                {{selProject.Id}}
              </td>
              <td>
                <input type="text" [(ngModel)]="selProject.Title"  class="form-control"  />
              </td>
              <td>
                <input type="text" [(ngModel)]="selProject.Color"  class="form-control" />
              </td>
              <td class="text-center">
                <input type="button" value="Save" (click)="saveProject()" class="btn btn-success" />
                <input type="button" value="Cancel" (click)="cancel()" class="btn btn-warning" />
              </td>
            </ng-template>
