/* You can add global styles to this file, and also import other style files */

.header {
  height:20px;
  width:100%;
  margin-bottom: 3px;
  border: 1px solid blue;
  background-color:darkblue;
}

.dashboard {
  padding-left:2px;
  padding-right:2px;
  padding-top:5px;
  padding-bottom:5px;
}

.widget {
  height: 500px;
  border: 1px solid gray;
}

.lower {
  height: 100%;
  width: 100%;
  background-color: #F3F3F3;
}

.left {
  height: 100%;
  background-color: black;
}

.right {
  height: 100%;
  background-color: black;
}

.handle {
  display:none;
}